* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    transform: translateY(-3px);
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

p#errors{
    color: red;
}

.cardcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.task_create_container{
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task_create_container h1{
    font-size: 20px;
}

.task_create_container textarea{
    width: 300px;
    height: 100px;
    resize: none;
    line-height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 0px;
    font-size: 14px;
    transition: padding 0.3s ease;
}

button{
    background-color: #333;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    border-color: transparent;
}

button:hover{
    transform: translateY(-3px);
}

.edit-delete-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.edit-delete-links a {
    margin: 10 10px;
    color: white;
    text-decoration: none;
}

.card{
    text-align: center;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 40px;
    margin: 10px;
    position: relative;
}

.card:hover{
    background-color: #333;
    color: transparent;
}


.card:hover .edit-delete-links {
    opacity: 1;
}

.card h2{
    font-size: 34px;
    position: absolute; 
    right: 0;
}

nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

