<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Home of my workout!</title>
</head>
<body>
    {% include '/partials/_navbar.html' %}
    <h1>Welcome to my home page!</h1>

    {% if username %}
    You're connected, <b>{{ username }}</b>! Congrats. <br><br>
    <div class="task_create_container">
        <h1>Create a new task :</h1><br>
        <form method="POST" action="{{ url_for('create_task') }}">
            <label for="task_desc">Task Description:</label><br><br>
            <textarea name="task_desc" placeholder="learn more and more python..." required></textarea><br><br>
            <button type="submit">Create Task</button>
        </form>
    </div>

    <h1>My To-Do list</h1>
        {% if tasks %}
            <div class="cardcontainer">
                {% for task in tasks %}
                <div class="card">
                    <span>{{ task.task_desc }}</span>
                    <div class="edit-delete-links">
                        <a href="{{ url_for('edit_task', task_id=task.id) }}">Edit</a>
                        <a href="{{ url_for('delete_task', task_id=task.id) }}">Delete</a>
                    </div>
                </div> <br><br>
                {% endfor %}
            </div>    
        {% else %}
            <p>No tasks yet. Add one!</p>
        {% endif %}
    {% else %}
    You're not connected. Please sign-up to access your to-do list. <a href="/login">login</a>. <br><br>
    Not registered yet? <a href="/register">Register now</a>
    {% endif %}

    {% assets "main_js" %}
    <script type='text/javascript' src="{{ ASSET_URL_JS }}"></script>
    {% endassets %}
</body>
</html>
